:root{
    --primary: #fbc02d;
    --secondary: #d3b8ae;
}

.bg-brown{
    background-color: #6d4c41 !important;
}

.home-image{
    background-image: url(../images/home.jpg);
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.main-btn{
    background-color: var(--primary) ;
    color: #000000;
    border: var(--primary) 2px solid;
}

.secondary-btn{
    background-color: var(--secondary);
    color: #000000;
    border: 2px var(--secondary) solid;
}

.main-title{
    font-family: 'Shadows Into Light', cursive;
    font-size: 3rem;
    margin-top: 2rem;
}

.main-footer{
    background-color: rgba(0, 0, 0, 0.408);
    color: white;
    /* /background-color: black;/
    /opacity: 0.308;/ */
}

.img-card{
    width: 100%;
    height: 18rem;
}

.img-card img{
    width: 100%;
    height: 100%;
}